@import "color";
@import "mixins";
/*-----------------------
   fontFamily
-------------------------*/
$font-family-base: 'Tajawal-Regular',
    sans-serif;
$font-family-medium: 'Tajawal-Medium',
    sans-serif;
$font-family-Bold: 'Tajawal-Bold',
    sans-serif;
$font-family-ExtraBold: 'Tajawal-ExtraBold',
    sans-serif;

/*-----------------------
    Global Styles
-------------------------*/
::selection {
    background: map_get($theme-colors, dark);
    color: #fff;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
    background: #BBBDC1;
    border-radius: 120px;
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
    scroll-behavior: initial;
    overflow-x: hidden !important;
}

body {
    font-size: 16px;
    vertical-align: baseline;
    font-family: $font-family-base;
    font-weight: 400;
    color: #fff;
    background: map_get($theme-colors, body-bg);
    font-style: normal;
    overflow-x: hidden !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    cursor: pointer !important;
    box-shadow: none !important;
    outline: 0 !important;
    border: 0;
}

.btn {
    box-shadow: none !important;
    outline: 0 !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

ol,
ul {
    list-style: none;
}

figure,
ol,
p,
ul {
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-rendering: optimizelegibility;
    margin-top: 0;
    margin-bottom: 0;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
    direction: inherit
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: inherit;
    border-color: transparent;
}

input {
    box-shadow: unset !important;
    outline: 0 !important;
}

.titel-section {
    line-height: normal;
    background: linear-gradient(90deg, #7C44DD 0%, #01F7F8 100%);
    background: -webkit-linear-gradient(90deg, #7C44DD 0%, #01F7F8 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-family-Bold;

    @media (min-width: 1200px) {
        font-size: 2.5rem;
    }
}

.title-section-part {
    margin-bottom: 2.5rem;

    span {
        font-size: 1.5rem;
        color: map_get($theme-colors, secondary);
        font-family: $font-family-Bold;
    }

    p {
        font-family: $font-family-medium;
    }
}

.btn-contact-btn {
    border-radius: 4rem;
    background: #fff;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    min-height: 47px;
    min-width: 165px;
    padding: 0 1rem;

    @media (min-width: 399.98px) {
        font-size: 1.1rem;
    }

    @media (max-width: 400px) {
        font-size: 0.894rem;
    }

    font-family: $font-family-Bold;

    &:not(:hover) {
        img {
            -webkit-transition: all 1s ease-out;
            transition: all 1s ease-out;
            display: none;
        }
    }

    img {
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out;

        @media (max-width: 767.98px) {
            display: none;
        }
    }

    &:hover {
        background: #3F3FD5;
    }
}

/*-----------------------
    Header
-------------------------*/
header {
    padding: 1.5rem 0;
    @include position(absolute, 0, 0, unset, 0);
    z-index: 11;

    .btn {
        position: relative;
    }



    .header-logo-part {
        @media (min-width: 992px) {
            justify-content: center;
        }

        @media (max-width: 991.98px) {
            justify-content: end;
        }
    }

    .content {
        position: absolute;
        overflow: hidden;
        left: 10px;
        transition: top .4s ease-out;
    }

    .top {
        top: 6px
    }

    .bottom {
        top: 40px
    }

    .btn:hover .top {
        top: -40px
    }

    .btn:hover .bottom {
        top: 6px
    }

    .hover-button {
        color: #fff;
        width: 100px;
        height: 40px;
        overflow: hidden;
        border: 1px solid transparent;
        font-size: 1.3rem;
        font-family: $font-family-medium;

        &:hover {
            color: map_get($theme-colors, secondary);
        }
    }

    .menu-toggle {
        display: none;
        font-size: 24px;
        cursor: pointer;
    }

    /* Responsive Styles */
    @media (max-width: 992px) {
        .nav-links {
            display: flex;
            flex-direction: column;
            background: #0a0a32;
            @include position(fixed, 0, unset, 0, 0);
            z-index: 11;
            width: 70%;
            height: 100vh;
            padding: 20px;
            border-radius: 5px;
            transform: translateX(-100%);
            /* Initially hidden */
            transition: transform 0.5s ease-in-out;
        }

        .menu-toggle {
            display: block;
            z-index: 12;
            cursor: pointer;
        }

        .nav-links.active {
            transform: translateX(0);
            /* Slide in */
        }
    }

    .contact-link {
        font-size: 1.3rem;
    }
}

/*-----------------------
    Banner Section
-------------------------*/
.banner-section {
    background: url(../image/img/banner-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    @media (min-width: 768px) {
        padding-top: 200px;
        padding-bottom: 350px;
    }

    @media (max-width: 767.98px) {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .right-image {
        @media (min-width: 1199.98px) {
            position: relative;
            top: 30px;
        }

        @media (max-width: 1200px) {
            @include position(absolute, 100px, 0, 0, unset);
        }
    }

    .left-image {

        @media (min-width: 1199.98px) {
            position: relative;
            top: -70px;
        }

        @media (min-width: 768px) and (max-width: 1200px) {
            @include position(absolute, 100px, unset, 0, 0);
        }

        @media (max-width: 767.98px) {
            display: none;
        }
    }

    .contant {
        max-width: 700px;
        z-index: 1;

        .sub-title {
            padding: 0 0.5rem;
            min-height: 40px;
            border-radius: 1.5rem;
            border: 1px solid map_get($theme-colors, secondary);
            font-family: $font-family-medium;
        }

        .main-title {
            font-family: $font-family-Bold;

            @media (min-width: 992px) {
                font-size: 2.8rem;
            }

            @media (max-width: 991.98px) {
                font-size: 1.5rem;
            }
        }

        p {
            font-family: $font-family-medium;

            @media (min-width: 992px) {
                font-size: 1.125rem;
            }
        }

        .btn-primary {
            min-width: 200px;
            min-height: 49px;
            border-radius: 1rem;
            font-size: 1.25rem;
            font-family: $font-family-Bold;
        }
    }

    .v-slider-frame {
        height: 50px;
        overflow: hidden;
        text-align: center;

        &::before {
            @media (min-width: 992px) {
                @include position(absolute, 0, 0, 0, unset);
                content: ' ';
                background: #fff;
                color: #fff;
                height: 100%;
                width: 1px;
            }
        }
    }

    ul.v-slides {
        list-style-type: none;
        transform: translateY(50px);
        padding: 0;
    }

    .v-slide {
        line-height: 50px;
    }

    .absolute-image {
        img {
            @media (min-width: 992px) {
                height: 870px;
                @include position(absolute, unset, 0, -70px, 0);
            }

            @media (max-width: 991.98px) {
                @include position(absolute, unset, 0, 0, 0);
            }
        }
    }

    .top-left {
        @media (min-width: 768px) {
            @include position(absolute, -100px, 0px, unset, unset);
            animation: fadeinout 2s infinite;
        }

        @media (max-width: 767.98px) {
            display: none;
        }
    }

    .absolute-left {
        @media (min-width: 768px) {
            @include position(absolute, unset, unset, -100px, 80px);
            animation: fadeinout 3s infinite;
        }

        @media (max-width: 767.98px) {
            display: none;
        }
    }

    .absolute-right {
        @media (min-width: 768px) {
            @include position(absolute, unset, 50px, -100px, unset);
            animation: fadeinout 4s infinite;
        }

        @media (max-width: 767.98px) {
            display: none;
        }
    }
}

.animation-image {
    animation: fadeinout 5s infinite;
}

// animation: fadeinout 2s infinite;
@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/*-----------------------
    Support Message
-------------------------*/
.support-message {
    .content {
        row-gap: 2.5rem;
    }

    &-card {
        padding: 1.5rem 1rem;
        border-radius: 1rem;
        border: 0.6px solid map_get($theme-colors, primary-color);
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out;

        .icon {
            width: 3rem;
            height: 3rem;
            border-radius: 0.5rem;
            background: map_get($theme-colors, primary);
        }

        .text {
            h4 {
                font-family: $font-family-Bold;
                display: -webkit-box;
                line-clamp: 1;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &:not(:hover) {
            background: rgba(map-get($theme-colors, primary-color), 0.3);
        }

        &:hover {
            background: map_get($theme-colors, primary-color);
        }
    }
}

/*-----------------------
    User Guidance
-------------------------*/
.user-guidance {
    background: map_get($theme-colors, primary-bg-section);

    .text-title-margin {
        margin-bottom: 3rem;
    }

    .titel {
        line-height: normal;
        background: linear-gradient(87.18deg, #7C44DD -16.83%, #01F7F8 115.53%);
        background: -webkit-linear-gradient(87.18deg, #7C44DD -16.83%, #01F7F8 115.53%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font-family-Bold;

        @media (min-width: 1200px) {
            font-size: 2.5rem;
        }

    }

    .user-guidance-card {
        padding: 1.5rem 1rem;
        border-radius: 1rem;
        background: rgba(map-get($theme-colors, primary-color), 0.3);

        h4 {
            font-size: 1.5rem;
            display: -webkit-box;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: $font-family-Bold;
        }

        p {
            font-family: $font-family-medium;
            display: -webkit-box;
            line-clamp: 5;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .icon {
            width: 50px;
            min-width: 50px;
            max-width: 50px;
            height: 50px;
            border-radius: 0.5rem;
            background: map_get($theme-colors, primary);
        }
    }
}

/*-----------------------
    Brands Section
-------------------------*/
.brands-section {
    .brand-box {
        width: 150px;
    }
}

/*-----------------------
    Service Section
-------------------------*/
.service-section {
    &-card {
        padding: 1.5rem 1rem;
        border-radius: 1rem;
        border: 0.6px solid map_get($theme-colors, primary-color);
        box-shadow: 0px 4px 4px 0px #00000040;
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out;

        .icon {
            width: 3rem;
            height: 3rem;
            border-radius: 0.5rem;
            background: map_get($theme-colors, body-bg);
        }

        .text {
            h4 {
                font-family: $font-family-Bold;
            }

            p {
                color: map_get($theme-colors, text-color);
            }
        }

        &:not(:hover) {
            background: rgba(map-get($theme-colors, primary-color), 0.3);

        }

        &:hover {
            background: map_get($theme-colors, primary-color);
        }
    }
}

/*-----------------------
    Nova Innovation
-------------------------*/
.nova-innovation {
    &-image {
        padding: 1.2rem 1.2rem 0 1.2rem;
        border-radius: 1.5rem;
        height: 100%;
        max-height: 480px;
        background: linear-gradient(180deg, #3F3FD5 0%, #21216F 65.26%);

        img {
            border-radius: 1.5rem 1.5rem 0 0;
        }
    }

    &-text {
        height: 100%;
        padding: 1.5rem;
        border-radius: 1.5rem;
        border: 1px solid map_get($theme-colors, primary-color);
        background: rgba(map-get($theme-colors, primary-color), 0.1);

        .title-part {
            @media (min-width: 1200px) {
                font-size: 2rem;
            }

            line-height: normal;
            background: linear-gradient(90deg, #7C44DD 0%, #01F7F8 100%);
            background: -webkit-linear-gradient(90deg, #7C44DD 0%, #01F7F8 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: $font-family-Bold;

            span {
                line-height: 2.5rem;
            }
        }

        p {
            color: map_get($theme-colors, text-color);
            font-family: $font-family-medium;
            font-size: 1rem;
        }
    }

    .nova-innovation-card {
        padding: 0.5rem;
        border: 0.6px solid #3F3FD5;
        background: rgba(map-get($theme-colors, primary-color), 0.3);
        border-radius: 1rem;

        .icon {
            width: 50px;
            min-width: 50px;
            max-width: 50px;
            height: 50px;
            border-radius: 0.5rem;
            background: map_get($theme-colors, primary);
        }

        .text {
            h4 {
                font-size: 1.125rem;
                font-family: $font-family-Bold;
            }

            p {
                color: map_get($theme-colors, text-color);
                font-family: $font-family-medium;
            }
        }
    }
}

/*-----------------------
    Advantages Section
-------------------------*/
.advantages-section {
    &-description {
        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 0.894rem;
            font-family: $font-family-medium;
            color: map_get($theme-colors, text-color);

            @media (min-width: 992px) {
                @include property_dir('padding', 'left', 10%);
            }
        }
    }

    .advantages-box {
        .title {
            .titel-section {
                font-size: 1.5rem;
                font-family: $font-family-Bold;
            }
        }

        p {
            color: map_get($theme-colors, text-color);
            font-family: $font-family-medium;
        }
    }
}

/*-----------------------
   why-choose-our-tech
-------------------------*/
.why-choose-our-tech {
    .why-choose-title-part {
        row-gap: 2rem;

        h2 {
            font-size: 2.5rem;
            font-family: $font-family-Bold;
        }

        p {
            color: map_get($theme-colors, text-color);
            font-family: $font-family-medium;

            @media (min-width: 992px) {
                font-size: 1.4rem;
                @include property_dir('padding', 'left', 5%);
            }

            @media (max-width: 991.98px) {
                font-size: 1rem;

            }

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        .btn-outline-primary {
            text-align: start;
            min-height: 60px;
            border-radius: 2rem;
            padding-inline: 1.5rem;
            color: #fff;
            font-size: 1.3rem;
            border-color: map_get($theme-colors, primary-color);
            box-shadow: 4px 3px 24px -11px #FFFFFF !important;
            font-family: $font-family-Bold;
            -webkit-transition: all 1s ease-out;
            transition: all 1s ease-out;

            .icon {
                block-size: 32px;
                min-inline-size: 32px;
                max-inline-size: 32px;
                inline-size: 32px;
                font-size: 13px;
                border-radius: 100%;
                -webkit-transition: all 1s ease-out;
                transition: all 1s ease-out;
            }

            &:not(:hover) {
                .icon {
                    background: map_get($theme-colors, primary-color);
                }
            }

            &:hover {
                background: map_get($theme-colors, primary-color);
            }
        }
    }

    .why-box {
        background: linear-gradient(320deg, #3F3FD5 0%, #000062 36.32%);
        background: -webkit-linear-gradient(320deg, #3F3FD5 0%, #000062 36.32%);

        .icon {
            inline-size: 35px;
            min-inline-size: 35px;
            max-inline-size: 35px;
            block-size: 35px;
            border-radius: 8px;
            background: linear-gradient(270deg, #0202C8 73.74%, #0270DE 83.93%, #01F7F8 100%);
            background: -webkit-linear-gradient(270deg, #0202C8 73.74%, #0270DE 83.93%, #01F7F8 100%);
        }

        h4 {
            display: -webkit-box;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: $font-family-medium;
        }

        p {
            color: map_get($theme-colors, text-color);
            font-size: 0.875rem;
            display: -webkit-box;
            line-clamp: 4;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: $font-family-medium;
        }
    }
}

.hover-border-1::before,
.hover-border-1::after {
    position: absolute;
    content: '';
    width: 16.5px;
    height: 18.5px;
    transition: 0.35s;
}

.hover-border-1::before {
    top: 0;
    left: 0;
    border-left: 1px solid #01F7F8;
    border-top: 1px solid #01F7F8;
}

.hover-border-1::after {
    bottom: 0;
    right: 0;
    border-right: 1px solid #01F7F8;
    border-bottom: 1px solid #01F7F8;
}

.hover-border-1:hover::before,
.hover-border-1:hover::after {
    width: 100%;
    height: 100%;
}

/*-----------------------
    Nava Section
-------------------------*/
.nava-section {
    &-title {
        @media (min-width: 992px) {
            font-size: 2.5rem;
            line-height: 2.75rem;
        }

        margin-bottom: 2.5rem;
        line-height: normal;
        background: linear-gradient(200deg, #01F7F8 0%, #7C44DD 100%);
        background: -webkit-linear-gradient(200deg, #01F7F8 0%, #7C44DD 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $font-family-Bold;
    }

    &-details {
        padding: 1.75rem 1.25rem;
        border-radius: 2rem;
        background: rgba(map-get($theme-colors, primary-color), 0.1);
        border: 1px solid map_get($theme-colors, primary-color);

        h4 {
            line-height: normal;

            @media (min-width: 992px) {
                font-size: 2rem;
            }
        }

        p {
            @media (min-width: 992px) {
                font-size: 1.25rem;
            }

            @media (max-width: 991.98px) {
                font-size: 1.25rem;
            }

            font-family: $font-family-medium;
        }

        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 1.25rem;
                }

                &::before {
                    content: url(../image/icon/verify-list.svg);

                }

                span {
                    color: map_get($theme-colors, text-color);
                    font-family: $font-family-medium;
                }
            }
        }
    }

    &-image {
        padding: 2rem 3rem 0 3rem;
        border-radius: 1.5rem;
        background: linear-gradient(250deg, #01F7F8 0%, #17669B 41.58%, #21216F 73.64%);
        background: -webkit-linear-gradient(250deg, #01F7F8 0%, #17669B 41.58%, #21216F 73.64%);

        &::after {
            content: '';
            background: url(../image/img/noise-image.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            @include position(absolute, 0, 0, 0, 0);
        }

        .content {
            z-index: 11;
            padding: 1.5rem 1.25rem;
            background: #020014;
            border-radius: 32px 32px 0 0;

            h5 {
                font-size: 1.5rem;
                font-family: $font-family-Bold;
            }

            p {
                color: map_get($theme-colors, text-color);
            }
        }
    }
}

/*-----------------------
    10
-------------------------*/
/*-----------------------
    Customer Reviews
-------------------------*/
.customer-reviews {
    .titel {
        font-size: 2.5rem;
        font-family: $font-family-Bold;
    }

    &-card {
        border-radius: 1rem;
        padding: 2rem 1.5rem 4rem 1.5rem;
        border: 0.6px solid map_get($theme-colors, primary-color);
        box-shadow: 0px 4px 4px 0px #00000040;
        -webkit-transition: all 1s ease-out;
        transition: all 1s ease-out;

        .card-header {
            &-image {
                inline-size: 48px;
                min-inline-size: 48px;
                max-inline-size: 48px;
                block-size: 48px;
                border-radius: 100%;
            }

            &-text {
                h5 {
                    font-size: 1.5rem;
                    font-family: $font-family-Bold;
                }

                P {
                    color: map_get($theme-colors, text-color);
                    font-family: $font-family-medium;
                }
            }
        }

        .card-body {
            p {
                color: #E1E1E1;
                font-family: $font-family-medium;
            }
        }

        &:not(:hover) {
            background: rgba(map-get($theme-colors, primary-color), 0.3);
        }

        &:hover {
            background: rgba(map-get($theme-colors, secondary), 0.5);
        }
    }

    .swiper-slide {
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;

        &:not(&-active) {
            margin-top: 11rem;
        }

        &-active {
            .customer-reviews-card {
                background: rgba(map-get($theme-colors, secondary), 0.5);
            }
        }
    }

    .arrow-slider {
        .swiper-btn {
            inline-size: 48px;
            min-inline-size: 48px;
            max-inline-size: 48px;
            block-size: 48px;
            border-radius: 100%;
            color: #fff;
            background: map_get($theme-colors, primary-color);

            &::after,
            &::before {
                font-size: 1.125rem;
            }
        }
    }
}

/*-----------------------
   Common-Question
-------------------------*/
.common-question {
    .title-common-question {

        margin-bottom: 2.5rem;
        font-family: $font-family-Bold;

        @media (min-width: 1200px) {
            font-size: 2.25rem;
        }
    }
}

.accordion {
    .accordion-item:has(.accordion-button:not(.collapsed)) {
        background: #000024;
        border: 0.6px solid #01F5F6 !important;
        border-radius: 1rem;
    }

    .accordion-button:not(.collapsed) {
        background: #000024;

        &::after {
            background-image: url(../image/icon/Minus.svg);
            width: 24px;
            height: 25px;
            background-size: 24px;
            -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }
    }

    .accordion-button.collapsed {
        border: 0.3px solid #01F5F6 !important;
        background: map_get($theme-colors, primary-color);
        width: calc(100% - 5px);
    }

    .accordion-button {
        font-size: 1rem;
        min-height: 70px;
        box-shadow: none;
        border-radius: 1rem !important;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        font-family: $font-family-Bold;

        &::after {
            background-image: url(../image/icon/plus.svg);
            background-repeat: no-repeat;
            width: 24px;
            height: 25px;
            background-size: 24px;
            -webkit-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
        }
    }

    &.accordion-flush {
        .accordion-item {
            background: transparent;
        }
    }

    .accordion-collapse {
        p {
            padding: 0 1rem;
            color: map_get($theme-colors, text-color);
            font-family: $font-family-medium;
        }
    }
}

/*-----------------------
    Blog Section
-------------------------*/
.blog-section {
    &-title {
        margin-bottom: 2.5rem;

        h2 {
            font-family: $font-family-Bold;
        }

        p {
            font-family: $font-family-Bold;

            @media (min-width: 768px) {
                font-size: 1.75rem;
            }

            @media (max-width: 767.98px) {
                font-size: 1rem;
            }
        }
    }

    &-card {
        p {
            @media (min-width: 768px) {
                font-size: 1.25rem;
            }

            @media (max-width: 767.98px) {
                font-size: 1rem;
            }

            font-family: $font-family-Bold;
        }

        .card-header {
            padding: 4.5rem 1rem 2rem 1rem;
            border-radius: 1.5rem;
            background: url(../image/img/card-image.svg);
            background-repeat: no-repeat;
            background-size: cover;

            p {
                min-height: 60px;
                display: -webkit-box;
                line-clamp: 2;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .card-body {
            padding: 0rem 1rem 1rem 1rem;

            span {
                font-family: $font-family-medium;
            }
        }
    }
}

/*-----------------------
    Footer
-------------------------*/
footer {
    .footer-description {
        p {
            font-family: $font-family-medium;
        }
    }

    .footer-title {
        font-weight: 600;
    }

    ul {
        &.social-links {
            li {
                a {
                    font-size: 1.25rem;
                    inline-size: 2.5rem;
                    min-inline-size: 2.5rem;
                    max-inline-size: 2.5rem;
                    block-size: 2.5rem;
                    border-radius: 100%;
                    border: 0.3px solid #DBDBDB;
                    background: linear-gradient(180deg, #3F3FD5 0%, #01F5F6 100%);
                }

                &:not(:hover) {
                    a {
                        -webkit-transition: all 1s ease-out;
                        transition: all 1s ease-out;
                    }
                }

                &:hover {
                    a {
                        transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                    }
                }
            }
        }

        &.list-link {
            a {
                font-size: 0.894rem;
                color: #fff;
                font-family: $font-family-medium;

                i {
                    font-size: 1rem;
                    color: map_get($theme-colors, secondary);
                }
            }
        }
    }
}

/*-----------------------
    back-to-top
-------------------------*/
button.back-to-top {
    margin: 0 !important;
    padding: 0 !important;
    background: linear-gradient(119.06deg, #3F3FD5 0%, #000062 36.32%);
    height: 0px;
    width: 0px;
    overflow: hidden;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: transparent;
    clear: both;
    visibility: hidden;
    @include position(fixed, unset, 20px, 75px, unset);
    cursor: pointer;
    display: block;
    border: none;
    font-size: 0px;
    outline: 0 !important;
    z-index: 99;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

button.back-to-top:hover,
button.back-to-top:active,
button.back-to-top:focus {
    outline: 0 !important;
}

button.back-to-top::before,
button.back-to-top::after {
    content: "";
    display: block;
    border-bottom: solid 10px map_get($theme-colors, primary);
    border-left: solid 10px transparent;
    line-height: 0;
    border-right: solid 10px transparent;
    height: 0;
    margin: 18px auto 0;
    width: 0;
    border-radius: 20px;
    visibility: hidden;
}

button.back-to-top.show::after,
button.back-to-top.show::before {
    visibility: visible;
}

button.back-to-top::after {
    border-bottom-color: #fff;
    position: relative;
    top: -24px;
}

button.back-to-top.show {
    display: block;
    background: linear-gradient(119.06deg, #3F3FD5 0%, #000062 36.32%);
    color: map_get($theme-colors, primary);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 50px;
    height: 35px;
    width: 35px;
    visibility: visible;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

button.back-to-top.show:active {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
}

/*-----------------------
    Breadcrumb
-------------------------*/
.breadcrumb-section {
    padding: 150px 0 0px 0;

    .breadcrumb-item+.breadcrumb-item::before {
        content: url(../image/icon/breadcrumb.svg);
    }

    .breadcrumb-item {
        font-size: 0.849rem;
    }
}

/*-----------------------
    Technical Skills
-------------------------*/
.technical-skills {
    &-title {
        span {
            color: map_get($theme-colors, secondary);
            font-family: $font-family-Bold;

            @media (min-width: 768px) {
                font-size: 1.2rem;
            }

            @media (max-width: 767.98px) {
                font-size: 1rem;
            }
        }

        p {
            font-family: $font-family-medium;
        }
    }

    &-box {
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0px 4px 4px 0px #3F3FD547;
        border: 1px solid map_get($theme-colors, primary-color);
    }
}

/*-----------------------
    Contact
-------------------------*/
.contact-section {
    .title-section-part {
        .title-section {
            padding-block: 25px;
            font-size: 64px;
            font-weight: 800;
            font-family: $font-family-Bold;
            background: linear-gradient(to right, #7c44dd, #01f7f8);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;

            @media (max-width: 767.98px) {
                font-size: 32px;
                padding-block: 20px;
            }
        }

        .title-section-img {
            width: 500px;
            margin-inline: auto;

            @media (max-width: 767.98px) {
                width: 250px;
            }
        }

        .title-section-para {
            font-family: $font-family-Bold;
            font-size: 24px;
            max-width: 80%;
            margin-inline: auto;
            margin-block: 20px;

            @media (max-width: 767.98px) {
                font-size: 16px;
                padding-block: 10px;
            }
        }

        .contact-us-btn {
            margin-inline: auto;
            color: #000;
            font-weight: bold;
            padding: 5px 25px;
            border-radius: 20px;
            background-color: white;
        }
    }
}
.contact-form-section {
    background-color: #f4f4f4;
    position: relative;
    color: #000;

    .container {
        position: relative;
        z-index: 50;

        .form {
            .form-head {
                display: flex;
                align-items: end;
                gap: 4px;

                .form-line {
                    margin-block-end: 8px;
                    width: 30px;
                    height: 2px;
                    background-color: map_get($theme-colors, primary);
                }

                color: map_get($theme-colors, primary);
                font-family: $font-family-Bold;
            }

            .form-subtitle {
                margin-block-start: 8px;
                font-size: 16px;
            }

            .form-body {
                padding-block: 10px;

                form .form-field {
                    position: relative;

                }
            }
        }

        .form-info {
            margin: auto;
            max-width: 450px;
            background-color: map_get($theme-colors, primary);
            color: #fff;
        }

        .form-info-list {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .form-info-list-div {
                h4 {
                    font-size: 20px;
                    font-weight: bold;
                }

                .social {
                    padding-block: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                }
            }
        }
    }

    @media (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media (max-width: 767.98px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &:after {
        content: "";
        top: 0;
        height: 100%;
        width: 25%;
        left: 0;
        position: absolute;
        background-color: #01f5f6;
    }
}
/*-----------------------
    About Banner
-------------------------*/
.about-banner {
    &-text {
        row-gap: 2rem;

        h1 {
            font-family: $font-family-Bold;

            @media (min-width: 1200px) {
                font-size: 3.5rem;
            }

            @media (max-width: 1199.98px) {
                line-height: 3rem;
            }

            .challenges,
            .solutions {
                &::after {
                    content: '';
                    @include position(absolute, unset, 0, 0, 0);
                    display: block;
                    width: calc(100% - 5px);
                    min-height: 43px;

                }
            }

            .challenges {
                &::after {
                    background: url(../image/icon/vector-digital.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }

            .solutions {
                &::after {
                    background: url(../image/icon/analog-line.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
        }

        p {
            @media (min-width: 992px) {
                padding-inline: 10%;
                font-size: 1.35rem;
            }

            @media (max-width: 991.98px) {
                font-size: 1rem;
            }

            font-family: $font-family-Bold;
        }
    }
}
/*-----------------------
    Tech Partner
-------------------------*/
.tech-partner{
    &-title{
        font-family: $font-family-Bold;
        line-height: normal;
        margin-bottom: 3rem;
        @media (min-width: 992px){
            font-size: 1.8rem;
        }
        @media (max-width: 991.98px){
            font-size: 1.25rem;
            line-height: 1.7rem;
        }
        .title-line{
            &::after {
                content: '';
                @include position(absolute, unset, 0, 0, 0);
                display: block;
                width: calc(100% - 5px);
                min-height: 43px;
                background: url(../image/icon/line.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }
    &-card{
        padding: 2rem 1rem;
        border-radius: 1rem;
        min-height: 420px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        h4{
            line-height: normal;
            font-family: $font-family-Bold;
            display: -webkit-box;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (min-width: 992px) {
                font-size: 1.25rem;
            }
        }
        h3{
            font-family: $font-family-Bold;
            @media (min-width: 992px){
                font-size: 4rem;
                line-height: 3.5rem;
            }
            @media (max-width: 991.98px){
                font-size: 2rem;
            }
        }
        span{
            font-size: 1.25rem;
            font-family: $font-family-medium;
        }
        p{
            line-height: normal;
            font-family: $font-family-medium;
            display: -webkit-box;
            line-clamp: 5;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}